<form [formGroup]="contactEdit" (ngSubmit)="onSubmit($event)">
  <div>

    <button mat-fab color="primary" type="submit" disabled="{{ !contactEdit.valid }}">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-fab color="warn" mat-dialog-close (click)="onCloseClick($event)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Firstname:</mat-label>
    <input matInput placeholder="Ex.Peyman" type="text" formControlName="firstName" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- <app-form-validation-errors [control as formControl]="contactEdit.get('firstName')"></app-form-validation-errors> -->

  <mat-form-field appearance="outline">
    <mat-label>Lastname:</mat-label>
    <input matInput placeholder="Ex.Khalili" type="text" formControlName="lastName" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- <app-form-validation-errors [control as formControl]="contactEdit.get('lastName')"></app-form-validation-errors> -->

  <mat-form-field appearance="outline">
    <mat-label>Address:</mat-label>
    <input matInput type="text" formControlName="address" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- <app-form-validation-errors [control as formControl]="contactEdit.get('address')"></app-form-validation-errors> -->

  <mat-form-field appearance="outline">
    <mat-label>Email:</mat-label>
    <input matInput type="text" formControlName="email" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number:</mat-label>
    <input matInput type="text" placeholder="Ex.09........." formControlName="phoneNumber" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <!-- <app-form-validation-errors [control as formControl]="contactEdit.get('phoneNumber')"></app-form-validation-errors> -->

</form>