<form [formGroup]="loginGroup" (ngSubmit)="onSubmit()" class="loginForm">
  <h1>Login</h1>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Username:</mat-label>
      <input type="text" matInput formControlName=username>
    </mat-form-field>
    <app-form-validation-errors [control]="loginGroup.get('username')"></app-form-validation-errors>
    <mat-form-field appearance="outline">
      <mat-label>Password:</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
    <app-form-validation-errors [control]="loginGroup.get('password')"></app-form-validation-errors>

  </div>
  <button mat-raised-button color="primary" type="submit" class="button">Login</button>
  <button mat-raised-button color="warn" type="reset">Reset</button>

</form>