<form [formGroup]="taskEdit" (ngSubmit)="onSubmit($event)">
  <div>
    <button mat-fab color="primary" type="submit" disabled="{{ !taskEdit.valid }}">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-fab color="warn" mat-dialog-close (click)="onCloseClick($event)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Task Name:</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <app-form-validation-errors [control]="taskEdit.get('name')"></app-form-validation-errors>

  <mat-form-field appearance="outline">
    <mat-label>Description:</mat-label>
    <input matInput type="text" formControlName="description" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <app-form-validation-errors [control]="taskEdit.get('description')"></app-form-validation-errors>


</form>
